*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:"Open Sans Condensed"sans-serif;
    font-weight: 700;
}

html,body{
    background: #eee5e9;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 25px;
}
.product-card{
    box-shadow: 1px 5px 15px #ccc;
    width: 300px;
    height: 400px;
    border-radius: 10px;
    padding: 2em;
    margin: 1em;
    overflow: hidden;
    position: relative;

}
.product-card{
    background: linear-gradient(
        -45deg,
        #ef6f6c 50%,
        rgba(255,255,255,0.5) 50%
    );
}

.product-card img{
    max-width: 100%;
    height: auto !important;
    text-align: center;
}
.product-inner{
    display: flex;
    align-items: center;
    flex-flow: column wrap ;
}
/.product-card p{
    color: #2b2d42;
}

.product-inner button{
    border: 1px solid rgba(255,255,255,0.5);
    color: #fff;
    border-radius: 10px;
    padding: 1em 3em;
    margin: 1em 0 0 0 ;
    background: none;
    cursor: pointer;
    transition: background ease-in .25s;
}

.product-inner button:hover{
    background: #fff;
    color: #2b2d42;
}

.product-inner button:before{
    font-family: "FontAwesome";
    content: "\f07A";
    color: #fff;
    position: absolute;
    margin: 0 -1.5em;
    font-size: 1.5em;
}
.product-inner button:hover::before{
    color: #2b2d42;
}